<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.bingoogolapple.bgabanner.demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.ListViewDemoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.RecyclerViewDemoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.FrescoDemoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
